@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html, body {
  height: 100%;
  margin: 0;
}
.ctext{
  color: #fff;
}
.navcolorback{
  background-color: #1A1919;
}
.yellowcol{
  background-color: #FDCE65;
}
.fondclaro{
  background-color: #EBD3A7;
}
.rosado{
  background-color: #DF2C6B;
}
.morado{
  background-color: #3F1432;
  color: #fff;
}
.morado:hover {
  background-color: #3F1432;
  color: #fff;
  text-decoration: none;
}
.violeta{
  background-color: #160D24;
}
.title{
  color: #160D24;
  font-family: 'Roboto', sans-serif;
}
p.subtitles{
  color: #DF2C6B;
}
.subtitles{
  color: #F7B733;
  font-family: 'Open Sans', sans-serif;
}
h1{
  font-family: 'Roboto', sans-serif;
}
.rostext{
  color: #DF2C6B;
}
button.btn.coll {
  background-color: #F7B733;
  border-color: #F7B733;
  color: #000;
}
button.btn.coll:hover {
  background-color: #DF2C6B;
  border-color: #DF2C6B;
  color: #fff;
}
button.btn.coll:focus,
button.btn.coll.focus {
  box-shadow: none;
  background-color: #DF2C6B;
  border-color: #DF2C6B;
  color: #fff;
}
p {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;

}
p.center{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.hitbox{
  width: 16rem;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.combox{
  width: 17rem;
}
.fz{
  font-size:5vw;
}
.fz1{
  font-size:4vw;
}
.textareatest{
  white-space: pre-wrap;
}
.testh{
  min-height:80vh;
}
.example{
  position: relative;
  float: right;
}
